#header {
    display: flex;
    justify-content: space-between;
}

#header > nav > mat-icon {
    cursor: pointer;
}

#tour-content {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: flex-start;
}

#tour-detail {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding : 0 10px;
}

#tour-detail img {
    width: 90%;
}
#tour-detail p {
    width: 90%;
    margin-top: 10px;
    text-align: justify;
}

#tour-request {
    width: 35%;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
}

#per-tour {
    font-size: small;
}
