<mat-toolbar id="header" color="primary">
  <h1>GuidedTours - Tour Requests</h1>
  <nav>
      <mat-icon routerLink="/">home</mat-icon>
  </nav>
</mat-toolbar>
<section id="request-section">
  <table mat-table [dataSource]="tourRequests" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Date of Travel Column -->
      <ng-container matColumnDef="dateOfTravel">
        <th mat-header-cell *matHeaderCellDef>Date of Travel</th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfTravel}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
      </ng-container>
    
      <!-- Email Column -->
      <ng-container matColumnDef="customerEmail">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.customerEmail}} </td>
      </ng-container>
    
      <!-- Phone Column -->
      <ng-container matColumnDef="customerPhone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.customerPhone}} </td>
      </ng-container>
    
      <!-- Tour Id Column -->
      <ng-container matColumnDef="tourName">
          <th mat-header-cell *matHeaderCellDef> Tour Name </th>
          <td mat-cell *matCellDef="let element"> {{element.tourName}} </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>